@model MVC_Three.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<table class="table">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>MembershipTypeId</td>
        <td>IsSubscribedToNewsletter</td>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.MembershipTypeId</td>
        <td>@Model.IsSubscribedToNewsletter</td>
    </tr>


</table>