@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>WizTech MVC</h1>
    <p class="lead">WIZ.TECH.LMS.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">LAUNCH.GO&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ABOUT.LMS</h2>
        <p>
            LMS contains Quiz, Courses, Surveys, Admin functions and more...
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ABOUT.MOBILE</h2>
        <p>LMS. has IOS and ANDR app</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ABOUT.ADMIN</h2>
        <p>Great Management tools to manage your users easily..</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>